body {
	background: #ccc;
	border-top: 5px solid #424242;
	margin: 0;
}
h1{
	margin: 0;
	background: #aaa;
	padding: 15px;
}
.container {
	background: #fff;
	width: 600px;
	margin: 0 auto;
}
#recipes {
	padding: 15px;
}